html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-family: 'LavanderiaC';
    color: $green;
    letter-spacing: 0.06em;
    line-height: 1.5em;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: $light-text;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section__title {
    font-size: 48px;
    line-height: 70px;
}

.greetings__title {
    font-size: 60px;
}