html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-family: 'LavanderiaC';
    color: $green;
    letter-spacing: 0.06em;
    line-height: 1.5em;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: $light-text;
    position: relative;
}

.container {
    max-width: 1200px;
    padding: 100px 15px;
    margin: 0 auto;
    text-align: center;
}

.section__title {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px;
}

.section__subtitle {
    margin: 0 auto 70px;
    max-width: 600px;
}

.greetings__title {
    font-size: 60px;
}

.btn {
    padding: 25px 40px;
    background-color: #fff;
    color: $medium-text;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    animation: radial-pulse 3s infinite;
    transition: all 0.5s;
    font-weight: 500;
    &:hover {
        background-color: $btn-hover;
        transition: all 0.5s;
    }
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}