@media (max-width: 1170px) {
    .story {
        &__info {
            max-width: 415px;
        }
    }
    .people {
        background-color: $light-green;
        &__inner {
            width: 600px;
        }
        &__title {
            text-align: center;
            &._right {
                text-align: center;
                margin-top: 25px;
            }
        }
    }
    .ceremony {
        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            max-width: 700px;
            margin: 0 auto;
            column-gap: 20px;
        }
    }
}

@media (max-width: 960px) {
    .header {
        background-color: #fff;
        &__menu {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
        }
        &__menu-btn {
            display: block;
            margin: 15px 5px;
            position: absolute;
        }
        &__menu-list {
            display: none;
            width: 100%;
        }
        &__menu-item {
            &+.header__menu-item {
                margin-left: 0;
            }
        }
        &__link {
            display: block;
        }
        &__socials {
            display: flex;
        }
    }
    .greetings {
        margin-top: 0;
        &__side-bar {
            display: none;
        }
        &__card {
            margin: auto;
            left: 0;
            right: 0;
        }
    }
    .story {
        &__img {
            width: 400px;
            height: 400px;
        }
    }
}

@media (max-width: 890px) {
    .about {
        &__items {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            row-gap: 15px;
        }
        &__item {
            margin: 0 auto;
            width: 580px;
        }
    }
    .moments {
        &__items {
            row-gap: 15px;
            column-gap: 15px;
        }
    }
    .story {
        &__info {
            max-width: 350px;
        }
        &__img {
            width: 300px;
            height: 300px;
            img {
                width: 95%;
                height: 95%;
            }
        }
    }
}

@media (max-width: 690px) {
    .greetings {
        &__card {
            max-width: 450px;
        }
        &__card-top {
            padding: 30px 45px;
        }
        &__card-bottom {
            padding: 20px 45px 40px;
        }
        &__slider-item {
            height: 700px;
        }
    }
    .about {
        &__item {
            width: 470px;
            padding: 20px;
        }
    }
    .moments {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        .grid-1 {
            grid-column: 1 / 2;
        }
        .grid-3 {
            grid-row: 2 / 2;
        }
        .grid-6 {
            grid-column: 2 / 3;
        }
    }
    .story {
        &__item {
            flex-direction: column;
            align-items: center;
            border-bottom: 1px dotted $green;
            padding-bottom: 20px;
            &+.story__item {
                margin-top: 20px;
            }
        }
        &__img {
            margin-bottom: 25px;
            &:nth-child(2n) {
                margin-top: 25px;
                margin-bottom: 0;
            }
        }
    }
    .people {
        &__inner {
            width: 300px;
        }
        &__items {
            width: 270px;
            height: 270px*4;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
        &__item-info {}
    }
    .ceremony {
        &__items {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            max-width: 400px;
        }
    }
}

@media (max-width: 500px) {
    .greetings {
        &__card {
            max-width: 300px;
        }
        &__card-bottom {
            padding: 20px 15px 40px;
        }
        &__slider-item {
            height: 697px;
        }
    }
    .btn {
        padding: 25px;
    }
    .about {
        &__item {
            width: 350px;
        }
    }
    .moments {
        &__items {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            height: 1500px;
        }
        .grid-1 {
            grid-column: 1 / 2;
        }
        .grid-3 {
            grid-row: 1 / 2;
        }
        .grid-6 {
            grid-column: 1 / 2;
        }
    }
}

@media (max-width: 380px) {
    .about {
        &__item {
            width: 280px;
        }
    }
}