$green: #05a893;
$green-hover: #09e2a7;
$light-green: #eefcff;
$dark-text: #1d1d1d;
$medium-text: #5d5d5d;
$light-text: #7e7e7e;
$opacity-bg: rgba(255, 255, 255, 0.74);
// $btn-hover: #E6D72A;
$btn-hover: #FFCCBB;