@import "vars";
@import "libs";
@import "fonts";
@import "global";
//header start
.header {
    background-color: $opacity-bg;
    z-index: 9999;
    .container {
        padding: 0 15px;
    }
    &__menu {
        text-align: center;
        align-content: center;
        font-weight: 500;
    }
    &__menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menu-item {
        padding: 20px 12px;
        color: $dark-text;
        text-transform: uppercase;
        transition: all 0.5s;
        &+.header__menu-item {
            margin-left: 21px;
        }
        &:hover {
            background-color: $green;
            color: #fff;
            transition: all 0.5s;
        }
    }
    &__socials {
        display: none;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__socials-item {
        svg {
            fill: $dark-text;
            height: 20px;
            width: 20px;
            &:hover {
                fill: #fff;
            }
        }
        &+.header__socials-item {
            margin-left: 30px;
        }
    }
    //burger
    &__menu-btn {
        width: 43px;
        display: none;
    }
    &__menu-row {
        width: 100%;
        background-color: $dark-text;
        height: 5px;
        margin-bottom: 7px;
    }
}

//header end
//greetings start
.greetings {
    margin-top: 67px;
    position: relative;
    &__slider-item {
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    &__card {
        position: absolute;
        bottom: 8px;
        right: 50px;
        max-width: 670px;
        background-color: $opacity-bg;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__card-top {
        padding: 50px 75px;
        color: $medium-text;
    }
    &__card-bottom {
        padding: 30px 75px 70px;
        background-color: $green;
        color: #fff;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__subtitle {
        margin-bottom: 25px;
        display: block;
        font-size: 25px;
        line-height: 37px;
    }
    &__location-name {
        display: block;
        font-size: 40px;
        line-height: 60px;
        border-top: 2px solid $medium-text;
        padding-top: 23px;
        margin-bottom: 15px;
    }
    &__side-bar {
        background-color: $green;
        border-radius: 25px;
        padding: 40px 20px 30px 40px;
        position: absolute;
        top: 250px;
        left: -90px;
        transition: all 0.5s;
        animation: radial-pulse 3s infinite;
        &:hover {
            left: -25px;
            transition: all 0.5s;
            animation: none;
        }
    }
    &__socials {
        display: flex;
        flex-direction: column;
    }
    &__socials-item {
        text-align: center;
        align-items: center;
        &+.greetings__socials-item {
            margin-top: 30px;
        }
    }
    &__socials-link {
        padding: 20px 15px 10px;
        border-radius: 50%;
        svg {
            fill: #ffffff;
            height: 20px;
            width: 20px;
        }
        &:hover {
            background-color: #fff;
            svg {
                fill: $green;
                transition: all 0.5s;
            }
            transition: all 0.5s;
        }
    }
}

//greetings eng
//about start
.about {
    &__items {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: $light-green;
        text-align: left;
        z-index: 2;
    }
    &__item {
        min-height: 300px;
        max-width: 585px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 50px;
        img {
            width: 100%;
        }
    }
    &__item-text {
        margin-bottom: 30px;
    }
    &__socials {
        display: flex;
    }
    &__socials-item {
        svg {
            fill: $dark-text;
            height: 15px;
            width: 15px;
            &:hover {
                fill: $green;
            }
        }
        &+.about__socials-item {
            margin-left: 20px;
        }
    }
    &__bg-decor {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 1200px;
        width: 497px;
        height: 358px;
    }
}

//about end
//moments start
.moments {
    background-color: $light-green;
    &__items {
        display: grid;
        height: 870px;
        max-width: 1170px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .grid-1 {
        grid-column: 1 / 3;
    }
    .grid-3 {
        grid-row: 2 / 4;
    }
    .grid-6 {
        grid-column: 2 / 4;
    }
}

//moments end
//story start
.story {
    &__item {
        display: flex;
        justify-content: space-around;
    }
    &__img {
        width: 500px;
        height: 500px;
        background: radial-gradient(circle, $green 7%, transparent 10%), radial-gradient(circle, $green 7%, transparent 10%);
        background-size: 30px 30px;
        background-position: 0 0, 50px 50px;
        border-radius: 50%;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto auto;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            border: 40px solid rgba(255, 255, 255, 0.555);
        }
    }
    &__info {
        max-width: 600px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__date {
        color: $medium-text;
        margin-bottom: 20px;
        display: block;
    }
    &__link {
        font-size: 20px;
        line-height: 30px;
        color: $green;
        font-weight: 500;
        transition: all 0.5s;
        &:hover {
            transition: all 0.5s;
            letter-spacing: 0.07em;
        }
    }
    &__bg-decor {
        position: absolute;
        z-index: -1;
        width: 220px;
        height: 812px;
        &._right {
            top: 3300px;
            right: 0;
        }
        &._left {
            top: 4500px;
            left: 0;
            background-position: right center;
        }
    }
}

//story end
//people start
.people {
    background-color: $light-green;
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    &__title {
        color: $medium-text;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        text-align: left;
        margin-bottom: 25px;
        &._right {
            text-align: right;
        }
    }
    &__items {
        display: grid;
        width: 570px;
        height: 570px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        overflow: hidden;
        &:hover {
            cursor: pointer;
            .people__item-info {
                top: 0;
                transition: all 0.7s;
            }
        }
    }
    &__item-info {
        position: absolute;
        top: 270px;
        background-color: $green;
        color: #fff;
        text-align: center;
        padding: 150px 10px 80px;
        width: 270px;
        transition: all 0.7s;
        opacity: 0.9;
    }
    &__item-name {
        display: block;
        font-size: 20px;
        line-height: 30px;
    }
    &__item-type {
        font-size: 14px;
        line-height: 26px;
        &::after {
            content: "";
            position: relative;
            float: right;
            margin-right: 60px;
            top: 14px;
            background-image: url('../images/white-line.svg');
            width: 25px;
            height: 2px;
            background-size: (100%-0%)
        }
        &::before {
            content: "";
            position: relative;
            float: left;
            margin-left: 60px;
            top: 14px;
            background-image: url('../images/white-line.svg');
            width: 25px;
            height: 2px;
            background-size: (100%-0%)
        }
    }
}

//people end
//ceremony start
.ceremony {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
    &__item {
        max-width: 400px;
        padding: 25px;
        box-shadow: 0 1px 6px rgba(134, 134, 134, 0.23);
        text-align: left;
        transition: all 0.7s;
        margin: 0 auto;
        &:hover {
            background-color: $green;
            color: #fff;
            transition: all 0.5s;
            .ceremony__item-title {
                color: #fff;
                transition: all 0.7s;
            }
        }
    }
    &__item-title {
        font-size: 25px;
        line-height: 38px;
        color: $green;
        margin-bottom: 30px;
        font-weight: 500;
        transition: all 0.7s;
    }
}

//ceremony end
//navigation start
.navigation {
    background-color: $light-green;
    padding: 100px 0 10px;
    &__map {
        height: 600px;
        width: 100%;
    }
    .section__subtitle {
        padding: 0 15px;
    }
}

//navigation end
//footer start
.footer {
    padding: 50px 0;
    background: radial-gradient(circle, $green 7%, transparent 10%), radial-gradient(circle, $green 7%, transparent 10%);
    background-size: 30px 30px;
    background-position: 0 0, 50px 50px;
    &__inner {
        margin: 0 auto;
        background-color: #fff;
        padding: 15px;
        max-width: 400px;
    }
    &__socials {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__socials-item {
        svg {
            fill: $dark-text;
            height: 20px;
            width: 20px;
            &:hover {
                fill: $green;
            }
        }
        &+.footer__socials-item {
            margin-left: 30px;
        }
    }
    &__year {
        display: block;
        text-align: center;
    }
}

//footer end
@import "media";