@import "vars";
@import "libs";
@import "fonts";
@import "global";
//header start
.header {
    background-color: $opacity-bg;
    z-index: 9999;
    .container {
        padding: 0 15px;
    }
    &__menu {
        text-align: center;
        align-content: center;
        font-weight: 500;
    }
    &__menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menu-item {
        padding: 20px 12px;
        color: $dark-text;
        text-transform: uppercase;
        transition: all 0.5s;
        &+.header__menu-item {
            margin-left: 21px;
        }
        &:hover {
            background-color: $green;
            color: #fff;
            transition: all 0.5s;
        }
    }
}

//header end
//greetings start
.greetings {
    margin-top: 67px;
    position: relative;
    &__slider {}
    &__slider-item {
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    &__card {
        position: absolute;
        bottom: 8px;
        right: 50px;
        max-width: 670px;
        background-color: $opacity-bg;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__card-top {
        padding: 50px 75px;
        color: $medium-text;
    }
    &__card-bottom {
        padding: 30px 75px 70px;
        background-color: $green;
        color: #fff;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__subtitle {
        margin-bottom: 25px;
        display: block;
        font-size: 25px;
        line-height: 37px;
    }
    &__location-name {
        display: block;
        font-size: 40px;
        line-height: 60px;
        border-top: 2px solid $medium-text;
        padding-top: 23px;
        margin-bottom: 15px;
    }
    &__side-bar {
        background-color: $green;
        border-radius: 25px;
        padding: 40px 20px 30px 40px;
        position: absolute;
        top: 250px;
        left: -90px;
        transition: all 0.5s;
        animation: radial-pulse 3s infinite;
        &:hover {
            left: -25px;
            transition: all 0.5s;
            animation: none;
        }
    }
    &__socials {
        display: flex;
        flex-direction: column;
    }
    &__socials-item {
        text-align: center;
        align-items: center;
        &+.greetings__socials-item {
            margin-top: 30px;
        }
    }
    &__socials-link {
        padding: 20px 15px 10px;
        border-radius: 50%;
        svg {
            fill: #ffffff;
            height: 20px;
            width: 20px;
        }
        &:hover {
            background-color: #fff;
            svg {
                fill: $green;
                transition: all 0.5s;
            }
            transition: all 0.5s;
        }
    }
}

//greetings eng
//about start
.about {
    &__items {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: $light-green;
        text-align: left;
        // position: absolute;
        z-index: 2;
    }
    &__item {
        height: 300px;
        width: 585px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 50px;
    }
    &__item-title {
        margin-bottom: 30px;
        font-size: 30px;
        left: 45px;
        &::after {
            content: "";
            position: relative;
            float: right;
            margin-right: 260px;
            top: 20px;
            background-image: url('../images/Decoration.svg');
            width: 48px;
            height: 2px;
            background-size: (100%-0%)
        }
    }
    &__item-text {
        margin-bottom: 30px;
    }
    &__socials {
        display: flex;
    }
    &__socials-item {
        svg {
            fill: $dark-text;
            height: 15px;
            width: 15px;
            &:hover {
                fill: $green;
            }
        }
        &+.about__socials-item {
            margin-left: 20px;
        }
    }
    &__bg-decor {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 1200px;
        width: 497px;
        height: 358px;
    }
}

//about end
//moment start
//moment end
@import "media";